<section class="todoapp">
  <header class="header">
    <h1>To Do</h1>
    <br />
    <form id="new-form">
      Title: &nbsp;
      <input type="text" class="new-todo-title" placeholder="What's the task?" />
      <br /><br />
      Description: &nbsp;
      <input type="text" class="new-todo-description" placeholder="Give me a description!" />
      <br /><br />
      <input type="submit">
    </form>
    <br />
    <hr />
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>
<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Ken Mazaika", "http://github.com/kenmazaika" %>
</section>
